openapi: 3.2.0
info:
  title: Simplecast Distribution API
  description: The Simplecast API lets you manage and read your podcasting data on the Simplecast platform - podcasts (shows), episodes, audience analytics, and distribution channels.
  version: '1.0'
  contact:
    name: Simplecast
    url: https://www.simplecast.com
servers:
- url: https://api.simplecast.com
  description: Simplecast production API
security:
- bearerAuth: []
tags:
- name: Distribution
  description: Distribution channels a podcast is syndicated to.
paths:
  /podcasts/{podcast_id}/distribution_channels:
    get:
      operationId: listPodcastDistributionChannels
      tags:
      - Distribution
      summary: List distribution channels for a podcast
      description: Lists the distribution channels the podcast is syndicated to.
      parameters:
      - $ref: '#/components/parameters/PodcastId'
      responses:
        '200':
          description: A collection of distribution channels.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collection'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /podcasts/{podcast_id}/distribution_channels/{channel_id}:
    get:
      operationId: getPodcastDistributionChannel
      tags:
      - Distribution
      summary: Retrieve a distribution channel for a podcast
      parameters:
      - $ref: '#/components/parameters/PodcastId'
      - $ref: '#/components/parameters/ChannelId'
      responses:
        '200':
          description: The requested distribution channel.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Resource'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /distribution_channels:
    get:
      operationId: listDistributionChannels
      tags:
      - Distribution
      summary: List distribution channels
      responses:
        '200':
          description: A collection of distribution channels.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collection'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /distribution_channels/{channel_id}:
    get:
      operationId: getDistributionChannel
      tags:
      - Distribution
      summary: Retrieve a distribution channel
      parameters:
      - $ref: '#/components/parameters/ChannelId'
      responses:
        '200':
          description: The requested distribution channel.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Resource'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    Unauthorized:
      description: Missing or invalid bearer token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  parameters:
    PodcastId:
      name: podcast_id
      in: path
      required: true
      schema:
        type: string
    ChannelId:
      name: channel_id
      in: path
      required: true
      schema:
        type: string
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
    Collection:
      type: object
      description: A paged collection of resources. Fields are modeled; the API is self-describing.
      properties:
        collection:
          type: array
          items:
            $ref: '#/components/schemas/Resource'
        pages:
          type: object
          properties:
            total:
              type: integer
            limit:
              type: integer
            offset:
              type: integer
    Resource:
      type: object
      description: A generic Simplecast resource. The API is self-describing; exact fields vary by type.
      properties:
        id:
          type: string
        href:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Bearer token generated from the Private Apps page in the Simplecast dashboard. Sent as "authorization: Bearer {token}".'
